@tailwind base;
@tailwind components;
@tailwind utilities;


/* dark mode looking scrollbar */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #fff;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 10px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #ff6347;
}